In [1]:
# Dependencies and Setup
import pandas as pd

# File location
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
purchase_data_df.shape

(780, 7)

## Player Count

* Display the total number of players

In [3]:
# value_counts() function returns object containing counts of unique values. len is to obtain the number of items
total_players = len(purchase_data_df["SN"].value_counts())

# Construct DataFrame
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

# ------------------------------------------------------------------------------

# Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#unique items

unique_items = len(purchase_data_df["Item ID"].unique())
print(unique_items)

179

In [5]:
#Average 
average_price = purchase_data_df["Price"].mean()
average_price

3.050987179487176

In [6]:
#Number of purchases
number_of_purchases = len(purchase_data_df["Purchase ID"].unique())
number_of_purchases

780

In [7]:
#Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [8]:
# Construct DataFrame
summary3_df = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[average_price],
    "Number of Purchases":[number_of_purchases],
    "Total Revenue":[total_revenue]
})

summary3_df
summary3_df.style.format({"Average Price":"${:,.2f}",
                         "Total Revenue": '${:,.2f}'})

# ------------------------------------------------------------------------------

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# pickup gender info from Purchase_data
gender_data = purchase_data_df.groupby("Gender")

In [10]:
# Count total names count by gender
player_countby_gender = gender_data.nunique()["SN"]

In [11]:
# Count of each gender divided by total players
percentage_countby_gender = (player_countby_gender/total_players)*100

In [12]:
# Construct DataFrame
gender_demographics_df = pd.DataFrame({"Total Count" : player_countby_gender , 
                          "Percentage of players" : percentage_countby_gender })


# Sort by descending order, add $ symbol and round to 2 decimal points
gender_demographics_df.sort_values(["Total Count"],ascending = False).style.format({"Percentage of players" : "{:.2f}%"})

# ------------------------------------------------------------------------------


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# number of purchases made by each gender
purchase_count = gender_data["Purchase ID"].count()

# Average purchase price of each gender
avg_purchase_price = gender_data["Price"].mean()

# Average purchase total of each gender
avg_purchase_total = gender_data["Price"].sum()

# average purchase total divided by total players of each gender
avg_purchase_per_person = avg_purchase_total/player_countby_gender

In [14]:

# Construct DataFrame
purchase_analysis_gender = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# add index
purchase_analysis_gender.index.name = "Gender"

# add $ symbol and rounding to 2 decimal points
purchase_analysis_gender.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

# ------------------------------------------------------------------------------

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
# Create Age bins and Group names
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]


group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [16]:
# create new Data series called Age group
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],age_bins, labels=group_names)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [17]:
# Groupby Age Group
age_group = purchase_data_df.groupby("Age Group")

In [18]:
age_group_count = age_group["SN"].nunique()

In [19]:
#Percentage is calculated - number of players in each Age group divided by total players X100
age_group_percentage = (age_group_count/total_players) * 100

In [20]:
# Construct DataFrame

age_demographics_df = pd.DataFrame({ 
                                    "Total Count" : age_group_count,
                                    "Percentage of Players" : age_group_percentage
})

In [21]:
age_demographics_df.style.format({"Percentage of Players":"{:,.2f}%"})

# ------------------------------------------------------------------------------

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
# We want Purchase count, Average purchase price, Total purchase value, Avg total purchase per person

In [23]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [24]:
# Count the number of purchases made by each age group 
purchase_count_age = age_group["Purchase ID"].count()

In [25]:

avg_purchase_price = age_group["Price"].mean()

In [26]:
total_purchase_value = age_group["Price"].sum()

In [27]:
average_total_purchase_eachplayer = (total_purchase_value/age_group_count)

In [28]:
# Construct DataFrame

purchase_analysis_df = pd.DataFrame({
    "Purchase Count" : purchase_count_age,
    "Average Purchase Price" : avg_purchase_price,
    "Total Purchase Value" : total_purchase_value,
    "Avg Total Purchase per Person" : average_total_purchase_eachplayer
})

purchase_analysis_df.style.format({ "Average Purchase Price" : "${:,.2f}",
                                   "Total Purchase Value" : "${:,.2f}",
                                   "Avg Total Purchase per Person" : "${:,.2f}"
    
    
})

# ------------------------------------------------------------------------------

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
#purchase count, Average purchase value, Total Purchase Value

In [30]:
spenders_data_df = purchase_data_df.groupby("SN")

In [31]:
spender_purchase_count = spenders_data_df["Purchase ID"].count()

In [32]:
average_purchase_price_spender = spenders_data_df["Price"].mean()

In [33]:
total_price_spender = spenders_data_df["Price"].sum()

In [34]:
# Construct DataFrame

top_spenders_df = pd.DataFrame({
    "Purchase Count" : spender_purchase_count,
    "Average Purchase Price" : average_purchase_price_spender,
    "Total Purchase Value" : total_price_spender,
})

In [35]:
# Sort in descending order
format_top_spenders_df = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

In [36]:
# add $ symbol and rounding to 2 decimal points
format_top_spenders_df.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

# ------------------------------------------------------------------------------

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [37]:
#(item name) count, item price, total purchase value

In [38]:
#Retrieve the Item ID, Item Name, and Item Price columns
items_df = purchase_data_df[["Item ID","Item Name","Price"]]

In [39]:
#Group by Item ID and Item Name. 
items_grouped = items_df.groupby(["Item ID","Item Name"])

In [40]:
item_purchase_count = items_grouped["Price"].count()

In [41]:
item_total_purchase_value = items_grouped["Price"].sum()

In [42]:
item_price = item_total_purchase_value/item_purchase_count

In [43]:
# Construct DataFrame
most_popular_items = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":item_total_purchase_value})

In [44]:
most_popular_items_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

In [45]:
# add $ symbol and rounding to 2 decimal points
most_popular_items_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

# ------------------------------------------------------------------------------

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [46]:
most_profitable_items = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

In [47]:
# add $ symbol and rounding to 2 decimal points

most_profitable_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})